[Unit]
Description=FW Code Update via USB %I
BindsTo=dev-%i.device
After=dev-%i.device
After=xyz.openbmc_project.Software.Version.service
After=xyz.openbmc_project.Software.BMC.Updater.service
After=xyz.openbmc_project.Software.Manager.service

[Service]
Restart=no
ExecStart=/usr/bin/phosphor-usb-code-update --device %i
Type=simple
RemainAfterExit=yes
