[Unit]
Description=Voltage Regulator Software Update Daemon
Wants=xyz.openbmc_project.State.BMC.service
After=xyz.openbmc_project.State.BMC.service
Wants=xyz.openbmc_project.State.Chassis@0.service
After=xyz.openbmc_project.State.Chassis@0.service
Wants=xyz.openbmc_project.State.EntityManager.service
After=xyz.openbmc_project.State.EntityManager.service
[Service]
Restart=yes
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/bin/phosphor-i2cvr-software-update
[Install]
WantedBy=multi-user.target
