[Unit]
Description=Check if flash side switch is needed
Wants=obmc-host-start-pre@0.target
Before=obmc-host-start-pre@0.target
After=xyz.openbmc_project.Software.BMC.Updater.service
After=xyz.openbmc_project.Software.Manager.service
Wants=xyz.openbmc_project.State.BMC.service
After=xyz.openbmc_project.State.BMC.service
Wants=xyz.openbmc_project.State.Chassis@0.service
After=xyz.openbmc_project.State.Chassis@0.service
Wants=xyz.openbmc_project.Settings.service
After=xyz.openbmc_project.Settings.service
ConditionPathExists=!/run/openbmc/host@0-on

[Service]
Restart=no
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/bin/phosphor-bmc-side-switch

[Install]
#WantedBy=obmc-host-startmin@0.target
