[Unit]
Description=Host FW Code Update Daemon
Wants=xyz.openbmc_project.State.Chassis@0.service
After=xyz.openbmc_project.State.Chassis@0.service
Requires=xyz.openbmc_project.EntityManager.service
After=xyz.openbmc_project.EntityManager.service

[Service]
Restart=always
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/bin/phosphor-bios-software-update

[Install]
WantedBy=multi-user.target
