[Unit]
Description=EEPROM Device Code Update Daemon
Wants=xyz.openbmc_project.State.Chassis@0.service
After=xyz.openbmc_project.State.Chassis@0.service
Requires=xyz.openbmc_project.EntityManager.service
After=xyz.openbmc_project.EntityManager.service

[Service]
ExecStart=/usr/libexec/phosphor-code-mgmt/phosphor-eepromdevice-software-update
Restart=always
Type=dbus
BusName={BUSNAME}

[Install]
WantedBy=multi-user.target
